<!--Forward_kinematics demo-->
<launch> 	
  <arg name="robot_name"                default="sgr532"/>
  <arg name="real_arm"			default="true"/>
  <!--sagittarius_moveit-->
  <include file="$(find sagittarius_moveit)/launch/demo_$(arg real_arm).launch">
      <arg name="robot_name"    value="$(arg robot_name)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
  </include>

  <!--drow start node-->
  <node pkg="moving" type="move_arm.py" name="move_arm_node" ns="$(arg robot_name)">
  </node>

  <!--start script-->
  <node pkg="moving" type="new_terminal_send_topic.sh" name="send_topic">
  </node>

  <node pkg="vision" type="find_bloc_noDepth.py" name="find_bloc">
  </node>

</launch>
